/* PasswordLoginWithFirebase.css */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .pointer {
    cursor: pointer;
    margin: 0 10px;
  }
  
  .activeColor {
    color: blue; /* Change this to your desired active color */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue; 
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkblue; 
  }
  